/*
================FONTS=============

font-family: 'Bebas Neue', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* ============COLORS=============
#ff33cc
#262626
*/

body {
  background-image: url("img/pink-leather.jpeg");
  background-position: center;
}

h1 {
  color: yellow;
  text-align: center;
  max-width: inherit;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
}

div {
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: 15px;
}

.App {
  background-color: black;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  border: 10px solid yellow;
}

.left {
  padding-top: 25px;
  position: absolute;
  left: 50px;
  height: auto;
  width: 100px;
  background-color: black;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.right {
  padding-top: 25px;
  position: absolute;
  left: 150px;
  height: auto;
  width: 100px;
  background-color: black;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.contacts {
  margin-top: 10px;
  border: 5px solid #ff33cc;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  width: 600px;
  display: inline-block;
  text-align: center;
  background-image: url("img/concrete.jpeg");
}



span {
  background-color: #262626;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid yellow;
  margin: 5px;
  font-style: bold;
  font-size: 30px;
}
input {
    text-align: center;

}

button {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  background-color: #ff33cc;
  padding:10px;
  border-radius: 5px;
}

.form,.form-group {
    text-align: center;
    padding: 5px;

}

input.form-control {
  margin-top: 10px;
  padding: 8px;
  height: 35px;
  background-color: black;
  font-size: 30px;
  color: yellow;
  font-family: 'Roboto', sans-serif;
}
